In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split

In [2]:
cleaned_df = pd.read_csv('resources/cleaned_tweets.csv', usecols=[1,2])

In [3]:
tf_idf_vectorizer = TfidfVectorizer(ngram_range=(1,1))
tf_idf_vectorizer.fit(cleaned_df['cleaned_text'])
tf_idf_df = tf_idf_vectorizer.transform(cleaned_df['cleaned_text'])
tf_idf_df = pd.DataFrame(tf_idf_df.toarray(),columns=tf_idf_vectorizer.get_feature_names_out())
tf_idf_df

,aa,aaa,aaaa,aaaaa,aaaaaaaaaa,aaaaaaaaaaaaaaaaaaaaaah,aaaaaaaaaah,aaaaaaaaaajajajajajajajahahahajahaja,aaaaaaaahhhhhhh,aaaaah,...,zyrrlt,zython,zyvmzme,zyvmzmeea,zyxeq,zzoegrimm,zzsuo,zzz,zzzz,zzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47234,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
var_thr = VarianceThreshold(threshold=0.001)
var_thr.fit(tf_idf_df)
var_df = tf_idf_df[var_thr.get_feature_names_out()]

In [5]:
print(len(tf_idf_vectorizer.get_feature_names_out())-len(var_thr.get_feature_names_out()),'features removed.')

46838 features removed.

In [10]:
var_df

,amp,ass,back,bitch,black,bulli,call,christian,dumb,even,...,tri,twitter,use,want,way,white,woman,women,would,year
0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
1,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.142303,0.0,0.00000,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
3,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.222778,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47233,0.0,0.0,0.0,0.000000,0.124484,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
47234,0.0,0.0,0.0,0.000000,0.000000,0.0,0.090836,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.104824,0.0,0.11122,0.0,0.0
47235,0.0,0.0,0.0,0.188436,0.000000,0.0,0.000000,0.0,0.151362,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
47236,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.168884,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0
47237,0.0,0.0,0.0,0.214358,0.000000,0.0,0.000000,0.0,0.172184,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0

In [11]:
var_df.to_csv('resources/var_tf_idf.csv')